
body{
    margin: 0;
}
.flex{
    display: flex;
}
.container{
    margin: 0 210px;
}
.announcement_bar{
    background-color: #432b8d;
}
.announcement_bar p{
    text-align: center;
    padding: 8px;
    color: white;
    margin: 0;
}
.media_bar{
    background-color: #dfdced;
}
.media_icon{
    list-style: none;
    margin: 0;
    display: flex;
    /* column-gap: 15px; */
    align-items: center;
}
.media_icon li{
    padding: 10px;
}
.media_icon li a{
    text-decoration: none;
}
header{
    margin: 0 120px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.hover:hover{
    border-bottom: 2px solid;
    padding-bottom: 5px;
}


.slider_container {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    flex: 0 0 100%;
    max-width: 100%;
}
.slide img{
    width: 100%;
    height: 100%;
}
.slider_font{
    position: absolute;
    max-width: 880px;
    text-align: center;
    margin: auto;
    top: 0;
    right: 50%;
    transform: translate(50%, 50%);
}
.slider_font h3{
    font-size: 5vw;
    color: #432b8d;
    margin: 0;
}
.slider_font p{
    font-size: 1.2vw;
    color: #191919;
}
button{
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #02e0c0;
    color: black;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.satisfaction {
    display: flex;
    justify-content: space-between;
    margin: 70px 270px;
    border-bottom: 3px solid #c2c2c2;
    text-align: center;
}
.satisfaction_item h2{
    font-size: 3vw;
    color: #432b8d;
    margin: 0; 
}
.satisfaction_details,.product_details{
    color: #191919;
    font-size: 1vw;    
}

.product{
    margin: 0 270px;
}
.product_item{
    text-align: center;
}
.heading,.comforts_heading{
    font-size: 2vw;
    color: #432b8d;
    margin: 0;
}
.product_main img,.sheet_main img{
   width: 100%;
}
.product_main,.sheet_main{
    position: relative;
    width: 100%;
}
.product_details{
    margin: 10px;
    width: 300px;
}
.sheet_details{
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(50%, -50%);
}
.sub_sheet{
    position: absolute;
    text-align: center;
    top: 20%;
    right: 50%;
    transform: translate(50%, -50px);
}
.sheet_product{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.comforts{
    position: relative;
    margin-top: 80px;
}
/* .comforts img{
    width: 100%;
    height: 608px;
} */
.comforts_detail{
    position: absolute;
    background-color: #221352;
    width: 1092px;
    height: 324px;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    opacity: 79%;
}
.comforts_heading{
    color: white;
}
.comforts_item{
    text-align: center;
    margin: 30px;
}
.comforts_details{
    color: white;
    margin: 5px;
    font-size: 17px;
}
.point_icon{
    list-style: none;
    color: white;
    font-size: 1vw;
}
.point_icon li{
    display: flex;
    align-items: center;
    gap: 10px;
}