

@media only screen and (max-width: 1800px){
    .media_icon{
        padding: 0%;
    }
    .review_name{
        font-size: large;
    }
    .product_details{
        margin: 10px;
        width: 250px;
    }
    .sheet_group {
        margin: 50px 200px;
    }
    button{
        font-size: 16px;
    }
}
@media(max-width:1600px){
   header{
    margin: 0px;
   }
   .sheet_group {
        margin: 50px 50px;
    }


}
@media(max-width:1439px){
    .media_icon {
        font-size: medium;
    }
    button {
        font-size: 12px;
    }
   .heading, .comforts_heading {
        /* font-size: 1vw; */
    }
    .product {
        margin: 100px 50px;
    }
    .sheet_group {
        margin: 50px 30px;
    }
    .product_details {
        width: 165px;
    }
    .satisfaction_details, .product_details {
        color: #191919;
        font-size:  ;
    }

}



@media only screen and (min-width: 1025px) and (max-width: 1200px){
    .satisfaction{
        margin: 70px 200px;
    }
    .comforts_detail {
        width: 760px;
    }
    .heading, .comforts_heading {
        font-size: 3vw;
    }
    .satisfaction_details, .product_details{
        font-size: 15px;
    }
    .product_details {
        font-size: 18px;
        width: 230px;
    }
    
    .product {
         margin: 100px 10px;
    }
    .point_icon{
        font-size:  initial;
    }
    .new_product {
        background-color: #f7f7f7;
        margin-top: 100px;
        text-align: center;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1024px){
    
    .satisfaction{
        margin: 50px 50px;
        border-bottom: 2px solid #c2c2c2;
    }
    .satisfaction_details{
        font-size: 15px;
    }
    .slider_font p {
        font-size: 15px;
    }
    .product{
        margin: 50px 0px;
    }
    .product_info{
        margin: 50px;
        margin-bottom: 15px;
    }
    .heading{
        font-size: 20px;
    }
    .review_heading{
        margin-bottom: 90px;
    }
    .product_details{
        font-size: 15px;
        width: 200px;
    }
    .product_EMI img {
        width: 100%;
    }
    .comforts_detail{
        width: 520px;
        height: 190px;
    }
    .point_icon{
        width: 50%;

    }
    .point_icon li{
        margin: 10px;
        font-size: 15px;
    }
    .new_product{
        margin: 0;
    }
    .sheet_group {
        margin: 50px 0px;
    }
    .comforts_item{
        margin: 10px;
    }
    .comforts_heading{
        font-size: 20px;
    }
    .footer_section{
        position: relative;
    }
    .logo_details{
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 0;
    }
    .logo_details img {
        margin: 15px;
    }
    .search input {
        padding: 12px;
    }
    .comforts_details { 
        font-size: 18px;
    }
    .footer_button{
        padding: 14px 5px;
        font-size: 12px;
    }
    .footer_menu{
        position: absolute;
        top: 160px;
    }
}


@media only screen and (min-width: 481px) and (max-width: 768px){

}


@media only screen and (min-width: 320px) and (max-width: 480px){

}